
@media screen and (max-width: 1234px) {
    .responsiveImage {
        width: 500px;
    }
}

@media screen and (max-width: 1090px) {
    .responsiveImage {
        width: 400px;
    }
}
@media screen and (max-width: 909px) {
    .reponsivesize{
        font-size: 25px;
    }
}
@media screen and (max-width: 854px) {
    .reponsivesize{
        font-size: 20px;
    }
}

@media screen and (max-width: 431px) {
    .responsiveImage {
        width: auto;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

